body{
    background-color: #fff0da;
}
header{
    background-color: #bb1919;
    color: #fff0da;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
header i{
    font-size: 300%;
}

header h1{
    margin: 0 2%;
}
main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
}
#box{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.per{
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 5%;
    outline: 5px solid #bb1919;
    height: 111px;
}
.per h1{
    transform: translateY(-65px);
    margin: 0;
    background-color: #bb1919;
    color: #fff0da  ;
}

.perFull {
    transform: translateY(-65px);
    color: #bb1919;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.per i{
    font-size: 400%;
}

.perFull-show {
    opacity: 1;
}

.perFull-hide {
    opacity: 0;
}

.perEmpty {
    color: #c8bcaa;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.perEmpty-show {
    opacity: 1;
}

.perEmpty-hide {
    opacity: 0;
}

#btnGroup{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 10%;
    align-items: center;
}

#btnGroup h1{
    padding: 10%;
}

#btnGroup input{
    display: none;
}

#btnGroup label{
    /* background-color: #bb1919; */
    background-image: url('../assets/img/drop-simple-fill-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff0da;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    text-align: center;
    transition: .1s;
}

#btnGroup label:hover {
    /* background-color: #a51717; */
    background-image: url('../assets/img/drop-simple-fill-2.svg');
    scale: 1.1;
}

/* Estilo quando o input radio está checked */
#btnGroup input.btnInput:checked + label {
    /* background-color: #8d1414; */
    background-image: url('../assets/img/drop-simple-fill-3.svg');
    scale: 1.1;
    transform: translateY(10px);
}

#btnGroup h3{
    font-size: 20px;
}



@media (max-width: 1250px) {

    header{
        margin-bottom: 100px;
    }

    header i {
        font-size: 2rem;
    }

    header h1 {
        font-size: 1.2rem;
    }

    #box{
        gap: 4%;
    }

    .per {
        width: 60px;
        height: 90px;
        scale: 1;
    }

    .per h1 {
        font-size: 1.3rem;
    }

    #btnGroup label {
        width: 60px;
        height: 60px;
    }

    #btnGroup h3{
        font-size: 15px;
    }
}

@media (max-width: 720px) {

    header{
        margin-bottom: 150px;
    }

    header i {
        font-size: 2rem;
    }

    header h1 {
        font-size: 1.2rem;
    }

    #box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 70px;
        margin: 0 auto;
    }

    .per {
        width: 60px;
        height: 90px;
        scale: 1.5;
    }

    .per h1 {
        font-size: 1.3rem;
    }

    #btnGroup{
        margin-bottom: 150px;
    }

    #btnGroup label {
        width: 50px;
        height: 50px;
    }

    #btnGroup h3{
        font-size: 10px;
    }
}

@media (max-width: 480px) {

    header{
        margin-bottom: 150px;
    }

    header i {
        font-size: 2rem;
    }

    header h1 {
        font-size: 1.2rem;
    }

    #box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin: 0 auto;
    }

    .per {
        width: 60px;
        height: 90px;
        scale: 1;
    }

    .per h1 {
        font-size: 1.3rem;
    }

    #btnGroup{
        margin-bottom: 70px;
    }

    #btnGroup label {
        width: 45px;
        height: 45px;
    }

    #btnGroup h3{
        font-size: 10px;
    }
}

@media (max-width: 390px) {

    header{
        margin-bottom: 150px;
    }

    header i {
        font-size: 2rem;
    }

    header h1 {
        font-size: 1.2rem;
    }

    #box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin: 0 auto;
    }

    .per {
        width: 60px;
        height: 90px;
        scale: 1;
    }

    .per h1 {
        font-size: 1.3rem;
    }

    #btnGroup{
        margin-bottom: 70px;
    }

    #btnGroup label {
        width: 45px;
        height: 45px;
    }

    #btnGroup h3{
        font-size: 10px;
    }
}